@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "custom-theme-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(0.31 0 0);
  --color-base-200: oklch(0.18 0 0);
  --color-base-300: oklch(0.23 0 0);
  --color-muted-100: #c8c8d5;
  --color-muted-200: #b4b4c1;
  --color-muted-300: #a0a0ad;
  --color-muted-400: #8c8c99;
  --color-muted-500: #787885;
  --color-muted-600: #646471;
  --color-muted-700: #50505d;
  --color-muted-800: #3c3c49;
  --color-muted-900: #282835;
  --color-base-content: oklch(0.83 0.0095 258.34);
  --color-primary: oklch(0.48 0.1687 279.08);
  --color-primary-content: oklch(0.83 0.0095 258.34);
  --color-secondary: oklch(0.58 0.2323 276.35);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(98% 0.01 160);
  --color-accent-content: #333;
  --color-neutral: oklch(0.29 0 0);
  --color-neutral-content: oklch(0.83 0.0095 258.34);
  --color-info: oklch(0.68 0.1709 268.89);
  --color-info-content: oklch(100% 0.01 220);
  --color-success: oklch(0.78 0.1471 165.45);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(0.89 0.1465 91.62);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(0.69 0.1964 23.76);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "custom-theme-light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --brightness: 0.99; /* brilho global, entre 0 e 1 */

  /* Base colors */
  --color-base-100: oklch(var(--brightness) 0 0);
  --color-base-200: oklch(calc(var(--brightness) - 0.04) 0 0);
  --color-base-300: oklch(calc(var(--brightness) - 0.08) 0 0);
  --color-base-content: oklch(calc(var(--brightness) - 0.85) 0.01 260); /* texto escuro */

  /* Primary */
  --color-primary: oklch(calc(var(--brightness) - 0.45) 0.17 279.08);
  --color-primary-content: oklch(var(--brightness) 0.01 258.34);

  /* Secondary */
  --color-secondary: oklch(calc(var(--brightness) - 0.35) 0.23 276.35);
  --color-secondary-content: oklch(calc(var(--brightness) - 0.85) 0.01 200);

  /* Accent */
  --color-accent: oklch(calc(var(--brightness) - 0.1) 0.02 160);
  --color-accent-content: oklch(calc(var(--brightness) - 0.9) 0 0);

  /* Neutral */
  --color-neutral: oklch(calc(var(--brightness) - 0.03) 0 0);
  --color-neutral-content: oklch(calc(var(--brightness) - 0.85) 0.01 258.34);

  /* Feedback Colors */
  --color-info: oklch(calc(var(--brightness) - 0.2) 0.17 268.89);
  --color-info-content: oklch(calc(var(--brightness) - 0.9) 0.01 220);

  --color-success: oklch(calc(var(--brightness) - 0.15) 0.14 165.45);
  --color-success-content: oklch(calc(var(--brightness) - 0.85) 0.01 140);

  --color-warning: oklch(calc(var(--brightness) - 0.05) 0.14 91.62);
  --color-warning-content: oklch(calc(var(--brightness) - 0.8) 0.05 80);

  --color-error: oklch(calc(var(--brightness) - 0.25) 0.19 23.76);
  --color-error-content: oklch(calc(var(--brightness) - 0.85) 0.01 30);

  /* Radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Border */
  --border: 1px;

  /* Effects */
  --depth: 1;
  --noise: 0;
}



@layer components {
  body {
    @apply bg-base-200;
  }
}
