
#todoView{
    ul.todoList {
        list-style: none;
        padding-left: 10px;
        li.todoItem {
            display: flex;
            padding: 5px 2px 5px 2px;

            cursor: pointer;
            user-select: none;
            width: 400px;
            max-width: 50vw;

            &:nth-child(even) {background: #FFF}
            &:nth-child(odd) {background: #EEE}

            .title {
                padding-left: 5px;
                display: flex;
                flex: 1;
            }
        }
    }
}